<%- include('../partials/header') %>
<main><div class="container page-content legal-content">
  <h1>Widerrufsrecht</h1>
  <h2>Widerrufsbelehrung</h2>
  <p>Sie haben das Recht, binnen vierzehn Tagen ohne Angabe von Gründen diesen Vertrag zu widerrufen. Die Widerrufsfrist beträgt vierzehn Tage ab dem Tag, an dem Sie oder ein von Ihnen benannter Dritter, der nicht der Beförderer ist, die Waren in Besitz genommen haben bzw. hat.</p>
  <h2>Ausübung des Widerrufsrechts</h2>
  <p>Um Ihr Widerrufsrecht auszuüben, müssen Sie uns (Imera Elektro, info@imeragroup.com, Tel: +43 660 8514467) mittels einer eindeutigen Erklärung (z.B. ein mit der Post versandter Brief oder eine E-Mail) über Ihren Entschluss, diesen Vertrag zu widerrufen, informieren.</p>
  <h2>Widerrufsformular</h2>
  <p>An: Imera Elektro, info@imeragroup.com</p>
  <p>Hiermit widerrufe ich den von mir abgeschlossenen Vertrag über den Kauf der folgenden Waren:</p>
  <ul>
    <li>Bestellnummer:</li>
    <li>Bestellt am / erhalten am:</li>
    <li>Name des Verbrauchers:</li>
    <li>Adresse des Verbrauchers:</li>
    <li>Unterschrift (nur bei Mitteilung auf Papier):</li>
    <li>Datum:</li>
  </ul>
  <h2>Folgen des Widerrufs</h2>
  <p>Wenn Sie diesen Vertrag widerrufen, haben wir Ihnen alle Zahlungen, die wir von Ihnen erhalten haben, einschließlich der Lieferkosten, unverzüglich und spätestens binnen vierzehn Tagen ab dem Tag zurückzuzahlen, an dem die Mitteilung über Ihren Widerruf dieses Vertrags bei uns eingegangen ist.</p>
  <p>Sie haben die Waren unverzüglich und in jedem Fall spätestens binnen vierzehn Tagen ab dem Tag, an dem Sie uns über den Widerruf dieses Vertrags unterrichten, an uns zurückzusenden oder zu übergeben. Die Frist ist gewahrt, wenn Sie die Waren vor Ablauf der Frist von vierzehn Tagen absenden.</p>
</div></main>
<%- include('../partials/footer') %>
